/*** overall / homepage definitions ***/
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  background: linear-gradient(
      to right,
      rgba(19, 91, 100, 0.864),
      rgba(255, 255, 255, 0.162)
    ),
    url("images/moselschleife.jpg") no-repeat;
  background-size: cover;
  color: white;
}

/*** navigation  ***/
.nav-bar {
  background-color: transparent;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px;
  background-image: linear-gradient(to right, #101f21d6, #222222c7);
}
.nav-logo {
  display: flex;
  align-items: center;
}
.nav-logo img {
  width: 40px;
  margin-right: 10px;
  rotate: -45deg;  
}
.nav-bar a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}
.nav-bar a:hover {
  /*color: #ddd; */
  background-color: #0056b3;
}
.nav-bar-link {
    display: flex;
    justify-content: center;
    align-items: start;
  }

/*** search ***/  
.hide {
    visibility: hidden;
}

.search-hub {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
}

.search-hub input[type="text"] {
  padding: 5px;
  border: none;
  outline: none;
  border-radius: 5px;
  margin-right: 10px;
  width: 180px;
}

.search-hub button {
  padding: 5px 10px;
  border: none;
  background-color: #017579;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin: 0px 5px;
}
.search-hub button:hover {
  background-color: #0056b3;
}

main {
  display: flex;
  padding: 40px;
  height: 100vh;
  position: relative;
}

.main-section {
  position: relative;
  display: flex;
  gap: 100px;
  height: 100vh;
}

.main-content {
    color: white;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: start;
  }
    .main-content h1 {
    font-size: 60px;
    font-weight: bold;
    line-height: 1.2;
    text-transform: uppercase;
  }
    .main-content p {
    font-size: 18px;
    width: 450px;
    margin-top: 20px;
  }
    .main-content .btn {
    margin-top: 30px;
    padding: 10px 20px;
    background-color: #017579;
    color: white;
    font-size: 13px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    text-decoration: none;
  }
    .main-content .btn:hover {
    background-color: #0056b3;
  }

.social-media {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.social-media i {
  font-size: 24px;
  margin: 15px 0;
  color: white;
}

.social-media i:hover {
  color: #638979;
}
.line {
  width: 2px;
  height: 200px;
  background-color: white;
  margin-bottom: 100px;
}

#suggest-data {
  color: white;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: start;
  height: 500px;
  overflow-y: auto;
  padding: 20px;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;
}

#suggest-data> .card {
  background-color: white;
  margin-bottom: 15px;
  color: black;
  width: 400px;
  border-radius: 5px;

  .card-data {
    padding: 10px;

    h3 {
      font-size: 17px;
    }

    p {
      color: rgba(0, 0, 0, 0.5);
      font-size: 13px;
    }

    button {
      background-color: #017579;
      border: none;
      padding: 5px 15px;
      border-radius: 5px;
      color: white;
    }
  }
}

#suggest-data > .card > img {
  width: 100%;
  object-fit: cover;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

/*****  our team   ******/
.main-content-about {
  color: white;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 50px;
}

.about-text > h1 {
  font-size: 60px;
  font-weight: bold;
  line-height: 1.2;
  text-transform: uppercase;
}

.about-text > p {
  font-size: 14px;
  line-height: 1.4;
  color: rgba(255, 255, 255, 0.7);
  padding: 16px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.37);
}

.team-hub {
  display: flex;
  align-items: start;
  gap: 30px;
}

.team-hub > h2 {
  font-size: 50px;
  font-weight: bold;
  line-height: 1.2;
  margin: 0px;
  margin-right: 50px;
  text-transform: uppercase;
}

.team-card {
  font-size: 10px;
  padding: 16px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.37);
  position: relative;
  display: grid;
  gap: 10px;
  max-width: 250px;
}

.team-card > img {
  width: 30px;
  height: 30px;
  border-radius: 10px;
}

.team-card > .details > h3 {
  margin-bottom: 0px;
}

.team-card > .details > h4 {
  color: rgba(255, 255, 255, 0.7);
  margin-top: 5px;
}

.team-card > .details > p {
  background-color: rgb(22, 105, 116);
  border-radius: 5px;
  padding: 7px;
  border: 1px solid rgba(255, 255, 255, 0.639);
  text-align: center;
  max-width: 200px;
  font-size: 1em;
}

.bold {
  font-weight: bold;
  color: rgba(255, 255, 255, 1);
}

/*****  contact us   ******/
main {
  display: flex;
  padding: 40px;
}

.main-section-contact {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 70px;
  height: 100vh;
}
.main-content-contact {
  color: white;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.main-content-contact > h1 {
  font-size: 60px;
  font-weight: bold;
  line-height: 1.2;
  text-transform: uppercase;
}
.main-content-contact > p {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 15px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.3);
  margin-left: 10px;
  height: min-content;
  position: relative;
}
form > input,
form > textarea {
  margin-bottom: 10px;
  margin-top: 10px;
  margin-right: 0;
  width: 30vw;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.639);
  border-radius: 5px;
  padding: 5px;
}
form > label {
  font-size: 13px;
}
form > button {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: none;
  background-color: rgb(22, 105, 116);
  color: white;
  font-size: 12px;
}
form > button:hover {
    background-color: #0056b3;
}